.main-image-container {
  background-image: url('../../images/mainImage.jpeg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.main-image-lower{
  display: flex;
  flex-direction: row;
}
 
.main-left-image {
  background-image: url('../../images/main-left-image.jpeg');
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.main-right-image{
  background-image: url('../../images/main-right-image.jpeg');
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: right;
}

.featured{
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  flex-wrap: wrap;
  align-items: center;
}

.featuredProducts {
  width: 200px;
  height: 200px;
  padding: 2px 16px;
  font-size: 15px;
  margin-top: 2%;
}

.featured-images {
  height: 200px;
  width: 260px;
  border-radius: 4px;
}
